hentai==3.1.5
telegraph==1.4.1
requests==2.25.1
urllib3==1.25.11
rule34==1.8.1
pathvalidate==2.3.2
Pyrogram==1.1.13
beautifulsoup4==4.9.3
python-dotenv==0.15.0
TgCrypto==1.2.2
Multporn==1.2.2
pybooru==4.2.2